{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<style>
#fp-list table {
  width: 90%;
  overflow: auto;
  background: rgb(255, 255, 255);
  color: rgb(42, 110, 73);
  border: none;
  border-radius: 0.5em;
  border: 0.1rem outset rgb(235, 233, 233);
  border-collapse: separate;
  border-spacing: 3px 1px;
  margin: 5em 0;
  margin-left: 5em;
  margin-bottom: 5px;
  margin-top: 10px;
}

#fp-list th {
  height: 2em;
  background-color: rgba(143, 188, 202, 0.87);
  color: rgba(11, 6, 22, 0.658);
  border-radius: 0.5em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#fp-list tr {
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7em;
  color: rgb(77, 96, 116);
}

#fp-list td {
  font-size: 15px;
  margin-left: auto;
  min-width:100px;
  vertical-align: middle;
}

#fp-list tbody tr:nth-child(2n + 1) {
  background-color: rgb(245, 248, 245);
}

html {
  background: rgb(238, 236, 236);
}

/* :root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #ced3d8;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 2rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.fp-list {
  display: grid;
  /* grid-template-rows: 0.5fr 1fr; */
}

.pgntn{
  margin-left:auto;
  margin-right: auto;
}
</style>

<!-- CSS for filter and search -->
<link rel="stylesheet" href="{% static 'css/site/main.css' %}">
{% endblock %}

{% block content %}
<!-- Search -->

<a href="{% url 'facturecreate' %}" class="btn btn-lg btn-warning">Create New Facture</a>
<section style="padding-top: 10px;">
    <div class="container">
    <div class="row justify-content-center padding">
      <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
        <form type="GET" action="" class="domain-form">
          <div class="form-group d-md-flex">
            <!-- Project Dropdowns -->
            <input type="text" name="category" id="categoryinput" value="1"
              style="visibility: hidden; width: 1px;">

            <select class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="inlineFormCustomSelectPref" style="min-width: 100px;">
              <option selected>
                All
              </option>
              <option value="hemmesi">CRA</option>
              <option value="saherici">CRI</option>
              <option value="etrapobalary">CCI</option>
              <option value="saherara">HTC</option>
            </select>
            <!-- Trade Dropdowns -->
            <input type="text" name="category" id="categoryinput" value="1"
              style="visibility: hidden; width: 1px;">

            <select class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="inlineFormCustomSelectPref" style="min-width: 100px;">
              <option selected>
                All
              </option>
              <option value="hemmesi">CEA</option>
              <option value="saherici">CC</option>
              <option value="etrapobalary">MEC</option>
              <option value="saherara">ELE</option>
            </select>
            <!-- Lot Dropdowns -->
            <input type="text" name="category" id="categoryinput" value="1"
              style="visibility: hidden; width: 1px;">

            <select class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="inlineFormCustomSelectPref" style="min-width: 100px;">
              <option selected>
                All
              </option>
              <option value="hemmesi">02</option>
              <option value="saherici">20</option>
              <option value="etrapobalary">70C</option>
              <option value="saherara">31</option>
            </select>
            <!-- Search box -->
            <input id="search" name='search' type="text" class="form-control px-4 my-1  mx-1"
              placeholder="What are you searching for...">
            <input type="submit" class="search-domain btn btn-primary px-5 my-1  mx-1" value="Search">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="fp-list" id="fp-list">

  <table class="table">
    <thead>
      <tr class="">
        <th scope="col">Facture Number</th>
        <th scope="col">Details of Items</th>
      </tr>
    </thead>
    <tbody>
      {% for facture in factures %}
      <tr class="px-4 ">
          <td scope="row" class="">{{ facture.number }}</td>
          <td>
              
                <table  class="table m-0">
                    <thead>
                        <tr class="">
                            <th scope="col">No:</th>
                            <th scope="col" style="min-width:300px">Product Card Reference</th>
                            <th scope="col" style="min-width:300px">Description</th>
                            <th scope="col">Annexe-5</th>
                            <th scope="col" style="min-width:100px">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col" style="max-width:100px">Unit</th>
                            <th scope="col">Currency</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for factureitem in facture.factureitems.all %}
                    <tbody>
                        <td class="">{{ factureitem.no }}</td>
                        <td class="">{{ factureitem.orderitem.product_card.product.name_fr }}</td>
                        <td class="">{{ factureitem.orderitem.desc_fr }}</td>
                        <td class="">{{ factureitem.orderitem.product_card.annexe5.code }}</td>
                        <td class="">{{ factureitem.quantity }}</td>
                        <td class="">{{ factureitem.price }}</td>
                        <td class="">--</td>
                        <td class="">{{ factureitem.unit }}</td>
                        <td class="">{{ factureitem.currency }}</td>
                        <td class=""><img src="{{ factureitem.orderitem.product_card.product.image.url }}" style="max-width: 100px;" alt=""></td>
                        <td  class="d-flex">
                            <a href="{{ facture.pk }}/edit/" class="btn btn-primary p-1" style="max-width: 80px;">Edit</a>
                            <a href="{{ facture.pk }}/" class="btn btn-primary mx-1 p-1" style="max-width: 80px;">Detail</a>
                            <a href="{{ facture.pk }}/" class="btn btn-primary p-1" style="max-width: 80px;">Print</a>
                        </td>
                      
                    </tbody>
                        {% endfor %}
                </table>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </div>
</table>
<nav class="pgntn" aria-label="Pagination">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

{% endblock %}
