{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

<style>
  body {
    background-color: #dee9ff;
  }
  textarea {
    min-height: 200px;
  }
</style>
{% endblock %}


{% block content %}

<!-- PRODUCT Form -->
<!-- <div class="container-fluid"> -->
  <h4>{{ form.errors }}</h4>
  <form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="form-group col-md-2">
        <label for="inputCity">Project</label>
        {{ form.project }}
        <!-- <input type="text" class="form-control" id="inputCity"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Lot</label>
        {{ form.lot }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Number</label>
        {{ form.number }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="name_en">Product</label>
        {{ form.product }}
        <!-- <input type="text" class="form-control" id="inputEmail4" placeholder="Name (EN)"> -->
      </div>
    </div>
      <div class="row justify-content-center">
        
      <div class="form-group col-md-2">
        <label for="inputPassword4">Provider</label>
        {{ form.provider }}
        <!-- <input type="text" class="form-control" id="inputPassword4" placeholder="Name (FR)"> -->
      </div>
      <div class="form-group  col-md-2">
          <label for="inputAddress">Origin</label>
          {{ form.origin }}
          <!-- <input type="text" class="form-control" id="inputAddress" placeholder="RU"> -->
        </div>
        <div class="form-group  col-md-2">
            <label for="inputAddress2">Manufactured in</label>
            {{ form.manufactured_in }}
            <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Name (TM)"> -->
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-2">
        <label for="inputZip">Location</label>
        {{ form.location }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Trade</label>
        {{ form.trade }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Annexe-5</label>
        {{ form.annexe5 }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
    </div>
    </div>

    <div class="row justify-content-center">
      
      <div class="form-group col-md-2">
        <label for="inputState">Department</label>
        {{ form.department }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputCity">FP Type</label>
        {{ form.fp_type }}
        <!-- <input type="text" class="form-control" id="inputCity"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputCity">Phase</label>
        {{ form.phase }}
        <!-- <input type="text" class="form-control" id="inputCity"> -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Index</label>
        {{ form.index }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
    </div>
      
      <div class="row justify-content-center">
        <div class="form-group col-md-4">
          <label for="inputCity">Protocol</label>
          {{ form.protocol }}
          <!-- <input type="text" class="form-control" id="inputCity"> -->
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Observation</label>
          {{ form.observation }}
          <!-- <input type="text" class="form-control" id="inputZip"> -->
        </div>
      </div>

  <div class="row justify-content-center m-5">

      <button type="submit" class="btn btn-primary" style="max-width: max-content;">{{ submit_button_name }}</button>
    </div>

  </form>

<!-- </div> -->


{% endblock %}
{% block js %}
<script>
  // Project change
  $("#id_project").change(function(){
    var projectValue = $(this).val() || 0;
    var lotValue = $("#id_lot").val() || 0;

    if (projectValue == 0 ) {
      $("#id_number").val("");
      return
    }
    if (lotValue == 0) {
      $("#id_number").val("");
      return
    } 
      generateFPNumber(lotValue, projectValue);
  });

  // Lot change
  $("#id_lot").change(function(){

    var projectValue = $("#id_project").val() || 0;
    var lotValue = $(this).val() || 0;
    console.log(projectValue)
    console.log(lotValue)

    if (projectValue == 0 ) {
      $("#id_number").val("");
      return
    } 
    if (lotValue == 0 ) {
      $("#id_number").val("");
      return
    }
      generateFPNumber(lotValue, projectValue);
  });

function generateFPNumber(lotValue, projectValue){
  console.log("http://127.0.0.1:8000/api/newnumber/?lot_id=" + lotValue + "&number_type=fp&project_id=" + projectValue)
  $.ajax({
        url: "http://127.0.0.1:8000/api/newnumber/?lot_id=" + lotValue + "&number_type=fp&project_id=" + projectValue,
        type: "GET",
        dataType: "json",
        success: (data) =>{
          console.log(data)
          $("#id_number").val(data.new_number);
        },
        error: (error) => {
          console.log(error)
        }
      });
}
</script>
{% endblock %}