{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<style>
#fp-list table {
  width: 90%;
  overflow: auto;
  background: rgb(255, 255, 255);
  color: rgb(42, 110, 73);
  border: none;
  border-radius: 0.5em;
  border: 0.1rem outset rgb(235, 233, 233);
  border-collapse: separate;
  border-spacing: 3px 1px;
  margin: 5em 0;
  margin-left: 5em;
  margin-bottom: 5px;
  margin-top: 10px;
}

#fp-list th {
  height: 2em;
  background-color: rgba(143, 188, 202, 0.87);
  color: rgba(11, 6, 22, 0.658);
  border-radius: 0.5em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#fp-list tr {
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7em;
  color: rgb(77, 96, 116);
}

#fp-list td {
  font-size: 15px;
  margin-left: auto;
  min-width:100px;
  vertical-align: middle;
}

#fp-list tbody tr:nth-child(2n + 1) {
  background-color: rgb(245, 248, 245);
}

html {
  background: rgb(238, 236, 236);
}

/* :root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #ced3d8;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 2rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.fp-list {
  display: grid;
  /* grid-template-rows: 0.5fr 1fr; */
}

.pgntn{
  margin-left:auto;
  margin-right: auto;
}
</style>

<!-- CSS for filter and search -->
<!-- <link rel="stylesheet" href="{% static 'css/site/main.css' %}"> -->
{% endblock %}

{% block content %}

<a href="{% url 'products' %}" class="btn btn-lg btn-warning">Create New Fiche Produit</a>
<!-- Search -->
<section style="padding-top: 10px;">
  <div class="container">
    <div class="row justify-content-center padding">
      <div class="col-md-10 ftco-animate fadeInUp ftco-animated">
        <form type="GET" action="" class="domain-form">
          <div class="form-group d-md-flex">

              <select name="project"  class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2 "  id="projectSelect" style="min-width: 110px; ">
                {% if request.GET.project is None %}
                  <option value="" selected> All Projects</option>
                {% else %}
                  <option  value=""> All Projects</option>
                {% endif %}
                
                {% for project in projects %}
                  {% if request.GET.project|floatformat:"0" == project.id|floatformat:"0" %}
                    <option value="{{project.id}}" selected>{{project.code}}</option>
                  {% else %}
                    <option value="{{project.id}}">{{project.code}}</option>
                  {% endif %}
                {% endfor %}
            </select>
            
            <select name="lot" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="lotSelect" style="min-width: 140px;">
              {% if request.GET.lot is None %}
                  <option  value="" selected>All Lots</option>
              {% else %}
                  <option value="" > All Lots</option>
              {% endif %}

              {% for lot in lots %}
                {% if request.GET.lot|floatformat:"0" == lot.id|floatformat:"0" %}
                  <option value="{{lot.id}}" selected>{{lot}}</option>
                {% else %}
                <option value="{{lot.id}}">{{lot}}</option>
                {% endif %}
              {% endfor %}
            </select>

            <select name = "provider" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="providerSelect" style="min-width: 150px;">
              {% if request.GET.provider is None %}
                  <option value=""  selected> All Providers</option>
              {% else %}
                  <option value="" >All Providers</option>
              {% endif %}

              {% for provider in providers %}
                {% if request.GET.provider|floatformat:"0" == provider.id|floatformat:"0" %}
                  <option value="{{provider.id}}" selected>{{provider.name_fr}}</option>
                {% else %}
                  <option value="{{provider.id}}">{{provider.name_fr}}</option>
                {% endif %}
              {% endfor %}
            </select>

            <!-- <select name="annexe5" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="annexe5Select" style="min-width: 150px;">
              {% if request.GET.annexe5 is None %}
                  <option  value="" selected>All Annexe-5</option>
              {% else %}
                  <option value="" > All Annexe-5</option>
              {% endif %}

              {% for annexe5 in annexe5s %}
                {% if request.GET.annexe5|floatformat:"0" == annexe5.id|floatformat:"0" %}
                  <option value="{{annexe5.id}}" selected>{{ annexe5 }}</option>
                {% else %}
                <option value="{{annexe5.id}}">{{ annexe5 }}</option>
                {% endif %}
              {% endfor %}
            </select> -->

            <!-- Search box -->
            <input id="search" name='search' type="text" class="form-control px-4 my-1  mx-1"
              placeholder="Search anything...">
            <input type="submit" class="search-domain btn btn-primary px-5 my-1  mx-1" value="Search">

          </div>
        </form>
      </div>
      
      <!-- Clear Filter -->
      <div class="row col-2 justify-content-end">
        <a href="?" class="btn btn-info col-8 m-1">Clear Filter</a>
      </div> <!-- Clear Filter is ending -->
        
    </div>
  </div>
</section>
<div class="fp-list" id="fp-list">


  <table class="table">
    <thead>
      <tr class="">
        <th scope="col">Project</th>
        <th scope="col">FP Number</th>
        <th scope="col" style="min-width:200px">Name (FR)</th>
        <th scope="col" style="min-width:200px">Name (RU)</th>
        <!-- <th scope="col" style="min-width:300px">Description (FR)</th>
        <th scope="col" style="min-width:300px">Description (RU)</th> -->
        <th scope="col">LOT</th>
        <!-- <th scope="col">Annexe-5</th> -->
        <th scope="col">Provider</th>
        <th scope="col" style="max-width:100px">Location</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for fp in page_obj %}
      <tr class="px-4 ">

        <!-- <th scope="col">Project</th>
        <th scope="col">FP Number</th>
        <th scope="col" style="min-width:200px">Name (FR)</th>
        <th scope="col" style="min-width:200px">Name (RU)</th>
        <th scope="col" style="min-width:300px">Description (FR)</th>
        <th scope="col" style="min-width:300px">Description (RU)</th>
        <th scope="col">LOT</th>
        <th scope="col">Provider</th>
        <th scope="col">Location</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th> -->


        <td scope="row" class="">{{ fp.project.code }}</td>
        <td class="">{{ fp.number }}</td>
        <td class="">{{ fp.product.name_fr }}</td>
        <td class="">{{ fp.product.name_ru }}</td>
        <!-- <td class="">{{ fp.product.desc_fr }}</td>
        <td class="">{{ fp.product.desc_ru }}</td> -->
        <td class="">{{ fp.lot.number }}</td>
        <!-- <td class="">{{ fp.annexe5 }}</td> -->
        <td class="">{{ fp.provider.name_fr }}</td>
        <td class="">{{ fp.location }}</td>
        <td class=""><img style="max-height: 130px;" src="{{ fp.image_url }}" alt="{{ fp.product.name_fr }}"></td>
        <td  class="row justify-content-center" style="max-width: 110px;">
          <a href="{{ fp.id }}/edit/" class="btn btn-primary p-1">Edit</a>
          <a href="{{ fp.id }}/" class="btn btn-primary my-1 p-1">Detail</a>
          <a href="{{ fp.id }}/print/" class="btn btn-primary p-1">Print</a>
          <a href="{% url 'export' %}?what=fp&towhat=excel&pk={{fp.id}}" class="btn btn-primary my-1 p-1">To Excel</a>
          <!-- <a href="{% url 'export'%}?what=fp&towhat=pdf&pk={{fp.id}}" class="btn btn-primary my-1 p-1">To PDF</a> -->

        </td>
       
      </tr>
      {% endfor %}
    </tbody>
  </div>
</table>
<nav class="pgntn" aria-label="Pagination">
  <ul class="pagination">
    {% if page_obj.has_previous %}

    <li class="page-item"><a class="page-link" 
      href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page=">&laquo;&laquo; First</a>
    </li>
    <li class="page-item"><a class="page-link" 
      href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    </li>
    {% endif %}
    <li class="page-item  mx-1 ">
      <span class="current page-item page-link bg-info text-light">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
      </li>
  {% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page={{ page_obj.next_page_number }}">
    Next &raquo;</a>
  </li>
  <li class="page-item"><a class="page-link" href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page={{ page_obj.paginator.num_pages }}">
    Last &raquo;&raquo;</a>
  </li>
  {% endif %}
  </ul>
</nav>

{% endblock %}
