{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

<style>
  body {
    background-color: #dee9ff;
  }
</style>
{% endblock %}

  
{% block content %}

<!-- PRODUCT Form -->
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-md-3">
        <label for="name_en">Name (EN)</label>
        {{ product_form.name_en }}
        <!-- <input type="text" class="form-control" id="inputEmail4" placeholder="Name (EN)"> -->
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">Name (FR)</label>
        {{ product_form.name_fr }}
        <!-- <input type="text" class="form-control" id="inputPassword4" placeholder="Name (FR)"> -->
      </div>
      <div class="form-group  col-md-3">
          <label for="inputAddress">Name (RU)</label>
          {{ product_form.name_ru }}
          <!-- <input type="text" class="form-control" id="inputAddress" placeholder="RU"> -->
        </div>
        <div class="form-group  col-md-3">
            <label for="inputAddress2">Name (TM)</label>
            {{ product_form.name_tm }}
            <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Name (TM)"> -->
        </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputCity">Description (EN)</label>
        {{ product_form.desc_en }}
        <!-- <input type="text" class="form-control" id="inputCity"> -->
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Description (FR)</label>
        {{ product_form.desc_fr }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Description (RU)</label>
        {{ product_form.desc_ru }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Description (TM)</label>
        {{ product_form.desc_tm }}
        <!-- <input type="text" class="form-control" id="inputZip"> -->
      </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="form-group col-md-4">
            <label for="inputZip">Technical Detail</label>
            {{ product_form.technical_detail }}
            <!-- <input type="text" class="form-control" id="inputZip"> -->
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Image</label>
            {{ product_form.image }}
            <!-- <input type="text" class="form-control" id="inputZip"> -->
        </div>
    </div>

            <button type="submit" class="btn btn-primary">Add Product</button>

  </form>

</div>


{% endblock %}
