{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<style>
#fp-list table {
  width: 95%;
  overflow: auto;
  background: rgb(255, 255, 255);
  color: rgb(42, 110, 73);
  border: none;
  border-radius: 0.5em;
  border: 0.1rem outset rgb(235, 233, 233);
  border-collapse: separate;
  border-spacing: 3px 1px;
  margin: 5em 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

#fp-list th {
  height: 2em;
  background-color: rgba(143, 188, 202, 0.87);
  color: rgba(11, 6, 22, 0.658);
  border-radius: 0.5em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#fp-list tr {
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7em;
  color: rgb(77, 96, 116);
}

#fp-list td {
  font-size: 15px;
  margin-left: auto;
  min-width:90px;
  vertical-align: middle;
}

#fp-list tbody tr:nth-child(2n + 1) {
  background-color: rgb(245, 248, 245);
}

html {
  background: rgb(238, 236, 236);
}

/* :root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #ced3d8;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 2rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.fp-list {
  display: grid;
  /* grid-template-rows: 0.5fr 1fr; */
}

.pgntn{
  margin-left:auto;
  margin-right: auto;
}
</style>

<!-- CSS for filter and search -->
<!-- <link rel="stylesheet" href="{% static 'css/site/main.css' %}"> -->
{% endblock %}

{% block content %}
<a href="{% url 'fplist' %}" class="btn btn-lg btn-warning border border-dark">See All List Of Fiche Produit</a>
<a href="{% url 'products' %}" class="btn btn-lg btn-warning border border-dark">Create New Fiche Produit</a>

<!-- Search -->
<section style="padding-top: 10px;">
  <div class="container">
    <div class="row justify-content-center padding">
      <div class="col-md-10 ftco-animate fadeInUp ftco-animated">
        <form type="GET" action="" class="domain-form">
          <div class="form-group d-md-flex">

              <select name="project"  class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2 "  id="projectSelect" style="min-width: 110px; ">
                {% if request.GET.project is None %}
                  <option value="" selected> All Projects</option>
                {% else %}
                  <option  value=""> All Projects</option>
                {% endif %}
                
                {% for project in projects %}
                  {% if request.GET.project|floatformat:"0" == project.id|floatformat:"0" %}
                    <option value="{{project.id}}" selected>{{project.code}}</option>
                  {% else %}
                    <option value="{{project.id}}">{{project.code}}</option>
                  {% endif %}
                {% endfor %}
            </select>

            <select name = "trade" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="tradeSelect" style="min-width: 150px;">
              {% if request.GET.trade is None %}
                  <option value=""  selected> All Trades</option>
              {% else %}
                  <option value="" >All Trades</option>
              {% endif %}

              {% for trade in trades %}
                {% if request.GET.trade|floatformat:"0" == trade.id|floatformat:"0" %}
                  <option value="{{trade.id}}" selected>{{trade.name_fr}}</option>
                {% else %}
                  <option value="{{trade.id}}">{{trade.name_fr}}</option>
                {% endif %}
              {% endfor %}
            </select>

            <select name="lot" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="lotSelect" style="min-width: 140px;">
              {% if request.GET.lot is None %}
                  <option  value="" selected>All Lots</option>
              {% else %}
                  <option value="" > All Lots</option>
              {% endif %}

              {% for lot in lots %}
                {% if request.GET.lot|floatformat:"0" == lot.id|floatformat:"0" %}
                  <option value="{{lot.id}}" selected>{{lot}}</option>
                {% else %}
                <option value="{{lot.id}}">{{lot}}</option>
                {% endif %}
              {% endfor %}
            </select>

            <select name="annexe5" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="annexe5Select" style="min-width: 150px;">
              {% if request.GET.annexe5 is None %}
                  <option  value="" selected>All Annexe-5</option>
              {% else %}
                  <option value="" > All Annexe-5</option>
              {% endif %}

              {% for annexe5 in annexe5s %}
                {% if request.GET.annexe5|floatformat:"0" == annexe5.id|floatformat:"0" %}
                  <option value="{{annexe5.id}}" selected>{{ annexe5 }}</option>
                {% else %}
                <option value="{{annexe5.id}}">{{ annexe5 }}</option>
                {% endif %}
              {% endfor %}
            </select>

            <!-- Search box -->
            <input id="search" name='search' type="text" class="form-control px-4 my-1  mx-1"
              placeholder="Search anything...">
            <input type="submit" class="search-domain btn btn-primary px-5 my-1  mx-1" value="Search">

            
          </div>
        </form>
      </div>
      
      <!-- Clear Filter -->
      <div class="row col-2 justify-content-end">
        <a href="?" class="btn btn-info col-8 m-1">Clear Filter</a>
        <!-- <button type="button" id="advancedbutton" class="btn btn-info col-6 m-1" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Advanced Search</button> -->
        
        <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" id="advanvedsearch" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content px-4 py-5">
              <h1>Advanced Search</h1>
              
              <form type="GET" action="" class="domain-form mx-3">
                 -->


                <!-- Number -->
                <!-- <div class="form-group row">
                  <label for="ordersearch" class="col-sm-2 col-form-label my-2">FP Number</label>
                  <div class="col-sm-10">
                    <input type="text" name='number' class="form-control" id="numbersearch" placeholder="FP Number">
                  </div>
                </div> -->
                
                <!-- Order -->
                <!-- <div class="form-group row">
                  <label for="ordersearch" class="col-sm-2 col-form-label my-2">Order</label>
                  <div class="col-sm-10">
                    <input type="text" name='order' class="form-control" id="ordersearch" placeholder="Order">
                  </div>
                </div> -->
                
                <!-- Facture -->
                <!-- <div class="form-group row">
                  <label for="facturesearch" class="col-sm-2 col-form-label my-2">Facture</label>
                  <div class="col-sm-10">
                    <input type="text" name='facture'  class="form-control" id="facturesearch" placeholder="Facture">
                  </div>
                </div> -->
                
                <!-- Specification -->
                <!-- <div class="form-group row">
                  <label for="specificationsearch" class="col-sm-2 col-form-label my-2">Specification</label>
                  <div class="col-sm-10">
                    <input type="text" name='specification'  class="form-control" id="specificationsearch" placeholder="Specification">
                  </div>
                </div> -->
                
                <!-- TDS -->
                <!-- <div class="form-group row">
                  <label for="tdssearch" class="col-sm-2 col-form-label my-2">TDS</label>
                  <div class="col-sm-10">
                    <input type="text" name="tds" class="form-control" id="tdssearch" placeholder="TDS">
                  </div>
                </div> -->
                
                <!-- COO -->
                <!-- <div class="form-group row">
                  <label for="coosearch" class="col-sm-2 col-form-label my-2">COO</label>
                  <div class="col-sm-10">
                    <input type="text" name="coo" class="form-control" id="coosearch" placeholder="COO">
                  </div>
                </div> -->
                
                <!-- Submit Button -->
                <!-- <div class="form-group row py-2 mt-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Search very advanced</button>
                  </div>
                </div> -->
                
                
              <!-- </form> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> modal ending -->
      </div> <!-- Advanced Search is ending ending -->
        
    </div>
  </div>
</section>
<div class="fp-list" id="fp-list">


  <table class="table">
    <thead>
      <tr class="">
        <th scope="col">Project</th>
        <th scope="col">FP Number</th>
        <th scope="col">Product Name</th>
        <th scope="col">Lot</th>
        <th scope="col">Annexe-5</th>
        <th scope="col">Order</th>
        <th scope="col">Facture</th>
        <th scope="col">Specification</th>
        <th scope="col">TDS</th>
        <th scope="col">Declaration</th>
        <th scope="col">COO</th>
        <th scope="col">Export</th>
      </tr>
    </thead>
    <tbody>
      {% for fp in page_obj %}
      <tr class="px-4 ">
        <td scope="row" class="">{{ fp.project.code }}</td>
        <td scope="row" class="">{{ fp.number }}</td>
        <td class="">{{ fp.product.name_fr }}</td>
        <td class="" >{{ fp.lot.number }}</td>
        <td class="" style="min-width: 150px; max-width: 200px;">{{ fp.annexe5 }}</td>

        <!-- Orders -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                <tr>
                  <td style="min-width: 100px;">{{ oitem.order.number }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- Factures -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.orderitemsinfactureitems.all %}
                  <tr>
                    <td style="min-width: 120px;">{{ fitem.facture.number }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>
        
        <!-- Specification -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.orderitemsinfactureitems.all %}
                {% for sitem in fitem.specificationfactures.all %}
                  <tr>
                    <td>{{ sitem.specification.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- TDS -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.orderitemsinfactureitems.all %}
                {% for titem in fitem.tdsfactures.all %}
                  <tr>
                    <td>{{ titem.tds.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- Declaration -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.orderitemsinfactureitems.all %}
                {% for ditem in fitem.declarationfactures.all %}
                  <tr>
                    <td>{{ ditem.declaration.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- Declaration -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.orderitemsinfactureitems.all %}
                {% for cooitem in fitem.facturetocoo.all %}
                  <tr>
                    <td>{{ cooitem.coo.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- <td class="">{{ fp.facture_numbers }}</td>
        <td class="">{{ fp.specification_numbers }}</td>
        <td class="">{{ fp.tds_numbers }}</td>
        <td class="">{{ fp.declaration_numbers }}</td>
        <td class="">{{ fp.coo_numbers }}</td> -->
        <td class="row justify-content-center" style="max-width: 120px; min-width: 100px;">
          <a href="{% url 'export' %}?what=fp&towhat=excel&pk={{fp.id}}" class="btn btn-primary mb-1">To Excel</a>
          <a href="/fps/{{ fp.id }}/change/" class="btn btn-info mb-1">Edit</a>
          <a href="/fps/{{ fp.id }}/print/" class="btn btn-info mb-1">Print</a>
          <!-- <a href="{% url 'export'%}?what=fp&towhat=pdf&pk={{fp.id}}" class="btn btn-info">To PDF</a> -->
        </td>
      </tr>
      {% endfor %}
  
    </tbody>
  </div>
</table>

<nav class="pgntn" aria-label="Pagination">
  <ul class="pagination">
    {% if page_obj.has_previous %}

    <li class="page-item"><a class="page-link" 
      href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page=">&laquo;&laquo; First</a>
    </li>
    <li class="page-item"><a class="page-link" 
      href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    </li>
    {% endif %}
    <li class="page-item  mx-1 ">
      <span class="current page-item page-link bg-info text-light">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
      </li>
  {% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page={{ page_obj.next_page_number }}">
    Next &raquo;</a>
  </li>
  <li class="page-item"><a class="page-link" href="?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}page={{ page_obj.paginator.num_pages }}">
    Last &raquo;&raquo;</a>
  </li>
  {% endif %}
  </ul>
</nav>

{% endblock %}

{% block js %}

<script>

  $(document).ready(function(){
    var removeDuplicates = $('.removeDuplicate')
    var uniqueArray = []
    removeDuplicates.each( function(){

        $(this).children('tr').each(function(){
          value = $(this).children('td').html()
          if (uniqueArray.indexOf(value)<0) {
            uniqueArray.unshift(value)
          } else{
            $(this).hide()
          }
      });
      uniqueArray=[]
      }
      );

  });
</script>

<!-- JS for filter and search. -->
<!-- <script src="{% static 'js/site/main.js' %}"></script> -->
{% endblock %}