{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<style>
#fp-list table {
  width: 95%;
  overflow: auto;
  background: rgb(255, 255, 255);
  color: rgb(42, 110, 73);
  border: none;
  border-radius: 0.5em;
  border: 0.1rem outset rgb(235, 233, 233);
  border-collapse: separate;
  border-spacing: 3px 1px;
  margin: 5em 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

#fp-list th {
  height: 2em;
  background-color: rgba(143, 188, 202, 0.87);
  color: rgba(11, 6, 22, 0.658);
  border-radius: 0.5em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#fp-list tr {
  height: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7em;
  color: rgb(77, 96, 116);
}

#fp-list td {
  font-size: 15px;
  margin-left: auto;
  min-width:90px;
  vertical-align: middle;
}

#fp-list tbody tr:nth-child(2n + 1) {
  background-color: rgb(245, 248, 245);
}

html {
  background: rgb(238, 236, 236);
}

/* :root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #ced3d8;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 2rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.fp-list {
  display: grid;
  /* grid-template-rows: 0.5fr 1fr; */
}

.pgntn{
  margin-left:auto;
  margin-right: auto;
}
</style>

<!-- CSS for filter and search -->
<link rel="stylesheet" href="{% static 'css/site/main.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'fplist' %}" class="btn btn-lg btn-warning border border-dark">See All List Of Fiche Produit</a>
<a href="{% url 'products' %}" class="btn btn-lg btn-warning border border-dark">Create New Fiche Produit</a>
<!-- Search -->
<section style="padding-top: 10px;">
  <div class="container">
    <div class="row justify-content-center padding">
      <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
        <form type="GET" action="" class="domain-form">
          <div class="form-group d-md-flex">
            <!-- Project Dropdowns -->
            <!-- <input type="text" name="category" id="categoryinput" value="1"
              style="visibility: hidden; width: 1px;"> -->

            <select name="project"  class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="inlineFormCustomSelectPref" style="min-width: 100px;">
              <option selected>
                All
              </option>
              {% for project in projects %}
                <option value="{{project.id}}">{{project.code}}</option>
              {% endfor %}
            </select>
            <!-- Trade Dropdowns -->
            <!-- <input type="text" name="category" id="categoryinput" value="1"
              style="visibility: hidden; width: 1px;"> -->

            <select name = "trade" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="inlineFormCustomSelectPref" style="min-width: 100px;">
              <option selected>
                All
              </option>
              {% for trade in trades %}
              <option value="{{trade.id}}">{{trade.name_fr}}</option>
              {% endfor %}
            </select>
            <!-- Lot Dropdowns -->
            <!-- <input type="text" name="category" id="categoryinput" value="1"
              style="visibility: hidden; width: 1px;"> -->

            <select name="lot" class="custom-select my-1 mx-1 mr-sm-2 border rounded px-1 py-2" id="inlineFormCustomSelectPref" style="min-width: 100px;">
              <option selected>
                All
              </option>
              {% for lot in lots %}
              <option value="{{lot.id}}">{{lot}}</option>
              {% endfor %}
            </select>
            <!-- Search box -->
            <input id="search" name='search' type="text" class="form-control px-4 my-1  mx-1"
              placeholder="What are you searching for...">
            <input type="submit" class="search-domain btn btn-primary px-5 my-1  mx-1" value="Search">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="fp-list" id="fp-list">


  <table class="table">
    <thead>
      <tr class="">
        <th scope="col">Project</th>
        <th scope="col">FP Number</th>
        <th scope="col">Product Name</th>
        <th scope="col">Lot</th>
        <th scope="col">Annexe-5</th>
        <th scope="col">Order</th>
        <th scope="col">Facture</th>
        <th scope="col">Specification</th>
        <th scope="col">TDS</th>
        <th scope="col">Declaration</th>
        <th scope="col">COO</th>
        <th scope="col">Export</th>
      </tr>
    </thead>
    <tbody>
      {% for fp in filter.qs %}
      <tr class="px-4 ">
        <td scope="row" class="">{{ fp.project.code }}</td>
        <td scope="row" class="">{{ fp.number }}</td>
        <td class="">{{ fp.product.name_fr }}</td>
        <td class="" >{{ fp.lot.number }}</td>
        <td class="" style="min-width: 150px; max-width: 200px;">{{ fp.annexe5 }}</td>

        <!-- Orders -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                <tr>
                  <td style="min-width: 100px;">{{ oitem.order.number }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- Factures -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.factureitem_set.all %}
                  <tr>
                    <td style="min-width: 120px;">{{ fitem.facture.number }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>
        
        <!-- Specification -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.factureitem_set.all %}
                {% for sitem in fitem.specificationfactures.all %}
                  <tr>
                    <td>{{ sitem.specification.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- TDS -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.factureitem_set.all %}
                {% for titem in fitem.tdsfactures.all %}
                  <tr>
                    <td>{{ titem.tds.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- Declaration -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.factureitem_set.all %}
                {% for ditem in fitem.declarationfactures.all %}
                  <tr>
                    <td>{{ ditem.declaration.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- Declaration -->
        <td class="" style="text-align: center;">
          <table class="m-0" style="max-width: 100%;">
            <tbody class="removeDuplicate" id='removeFactureDuplicate'>
              {% for oitem in fp.productcardorderitems.all %}
                {% for fitem in oitem.factureitem_set.all %}
                {% for cooitem in fitem.facturetocoo.all %}
                  <tr>
                    <td>{{ cooitem.coo.number }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </td>

        <!-- <td class="">{{ fp.facture_numbers }}</td>
        <td class="">{{ fp.specification_numbers }}</td>
        <td class="">{{ fp.tds_numbers }}</td>
        <td class="">{{ fp.declaration_numbers }}</td>
        <td class="">{{ fp.coo_numbers }}</td> -->
        <td class="row justify-content-center" style="max-width: 120px; min-width: 100px;">
          <a href="{% url 'export' %}?what=fp&towhat=excel&pk={{fp.id}}" class="btn btn-primary mb-1">To Excel</a>
          <a href="/fps/{{ fp.id }}/change/" class="btn btn-info mb-1">Edit</a>
          <a href="/fps/{{ fp.id }}/print/" class="btn btn-info mb-1">Print</a>
          <!-- <a href="{% url 'export'%}?what=fp&towhat=pdf&pk={{fp.id}}" class="btn btn-info">To PDF</a> -->
        </td>
      </tr>
      {% endfor %}
  
    </tbody>
  </div>
</table>
<nav class="pgntn" aria-label="Pagination">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

{% endblock %}

{% block js %}

<script>

  $(document).ready(function(){
    var removeDuplicates = $('.removeDuplicate')
    var uniqueArray = []
    removeDuplicates.each( function(){

        $(this).children('tr').each(function(){
          value = $(this).children('td').html()
          if (uniqueArray.indexOf(value)<0) {
            uniqueArray.unshift(value)
          } else{
            $(this).hide()
          }
      });
      uniqueArray=[]
      }
      );

  });
</script>

<!-- JS for filter and search. -->
<script src="{% static 'js/site/main.js' %}"></script>
{% endblock %}