{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

{% endblock %}

  
{% block content %}
<a href="{% url 'fplist' %}" class="btn btn-lg btn-warning border border-dark">Back to Full List of Fiche Produits</a>
<a href="{/fps/{{ fps.id }}/print/" class="btn btn-lg btn-warning border border-dark">Print</a>

<br><br><br><br><br>
{{ fps.product.name_fr }}
<br><br>
{{ fps.product.name_ru }}
<br><br>
{{ fps.product.desc_fr }}
<br><br>
{{ fps.product.desc_ru }}
<br><br><br><br><br>


{% for oitem in fps.orderitem_set.all %}
  test
  {{ oitem.no }}
{% endfor %}

{% endblock %}
