{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

<style>
  body {
    background-color: #dee9ff;
  }
  textarea {
    min-height: 200px;
  }
</style>
{% endblock %}


{% block content %}
<h4>{{ form.errors }}</h4>

<!-- PRODUCT Form -->
{% include "fiche_produit/fiche_produit_edit_form.html" with fp_form=form fp_submit_button_name=submit_button_name %}

{% endblock %}
{% block js %}
<script>
  // Project change
  $("#id_project").change(function(){
    var projectValue = $(this).val() || 0;
    var lotValue = $("#id_lot").val() || 0;

    if (projectValue == 0 ) {
      $("#id_number").val("");
      return
    }
    if (lotValue == 0) {
      $("#id_number").val("");
      return
    } 
      generateFPNumber(lotValue, projectValue);
  });

  // Lot change
  $("#id_lot").change(function(){

    var projectValue = $("#id_project").val() || 0;
    var lotValue = $(this).val() || 0;
    console.log(projectValue)
    console.log(lotValue)

    if (projectValue == 0 ) {
      $("#id_number").val("");
      return
    } 
    if (lotValue == 0 ) {
      $("#id_number").val("");
      return
    }
      generateFPNumber(lotValue, projectValue);
  });

function generateFPNumber(lotValue, projectValue){
  console.log("http://127.0.0.1:8000/api/newnumber/?lot_id=" + lotValue + "&number_type=fp&project_id=" + projectValue)
  $.ajax({
        url: "http://127.0.0.1:8000/api/newnumber/?lot_id=" + lotValue + "&number_type=fp&project_id=" + projectValue,
        type: "GET",
        dataType: "json",
        success: (data) =>{
          console.log(data)
          $("#id_number").val(data.new_number);
        },
        error: (error) => {
          console.log(error)
        }
      });
}
</script>
{% endblock %}