{% load static %}

<div class="container border border-dark rounded-3" style="width:210mm; height: 297mm;">
    
<!-- Logo and Name -->
<div class="row" style="height: 110px;">
    <div class="col-3 mh-100 p-0 text-center d-flex align-items-center border border-dark rounded-3">
        <img src="{% static 'img/bytk_logo.png' %}" alt="Bouygues Turkmen" style="height: 100px; width:195px;">
    </div>
    <div class="col-9 border border-dark rounded-3">
        <div class="row p-0">
            <div class="border-top font-weight-bold text-center h5 p-0 d-flex align-items-center" style="height: 15px;">
                <div class="text-center w-100">
                    FICHE PRODUIT - КАРТОЧКА ИЗДЕЛИЯ
                </div>
            </div>
        </div>
        <div class="row border-top border-dark p-0" style="height: 40px;">
            <div class="col-3 border p-0 h-100 d-flex align-items-center">
                Nom du produit: 
            </div>
            <div class="col-9 text-center p-0 d-flex align-items-center" style="font-size: 14px;">
                <div class="text-center w-100">
                    {{ fp.product.name_fr }}
                </div>
            </div>
        </div>
        <div class="row border-top border-dark p-0" style="height: 40px;">
            <div class="col-3 border p-0 h-100 d-flex align-items-center" style=" font-size: 14px;">
                <div>
                    Наименование изделия:
                </div>
            </div>
            <div class="col-9 text-center p-0 d-flex align-items-center" style="font-size: 14px;">
                <div class="text-center w-100">
                    {{ fp.product.name_ru }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Lot and Chantier  -->
<div class="row rounded-3"  style="height: 57px;">
    <div class="col-3 border border-dark">
        <div class="row">

            <div class="col-8 border">
                <div class="row border">
                    Lot N°:
                </div>
                <div class="row border">
                    Pаздел N°:
                </div>
            </div>
            <div class="col-4 h4 d-flex align-items-center">
                <div class="w-100 text-center">
                    {{ fp.lot.number }}
                </div>
            </div>
        </div>
    </div>
    <div class=" col-9 border border-dark rounded-3">
        <div class="row">

            <div class="col-2 border">
                <div class="row border">
                    Chantier:
                </div>
                <div class="row border">
                    Стройка:
                </div>
            </div>
            <div class="col-10 border">
                <div class="row border d-flex align-items-center" style="font-size: 14px;">
                    <div class="w-100 text-center">
                        {{ fp.project.name_fr }}
                    </div>
                </div>
                <div class="row border d-flex align-items-center" style="font-size: 14px;">
                    <div class="w-100 text-center">
                        {{ fp.project.name_ru }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Provider and Country -->
<div class="row p-0"  style="height: 76px;">
    <div class="col-4 h-100 border border-dark rounded-3">
        <div class="row">
            <div class="col-4">
                <div class="row border" style="height: 36px; font-size: 15px;">
                    Fournisseur:
                </div>
                <div class="row border" style="height: 36px; font-size: 15px;">
                    Поставщик:
                </div>
            </div>
            <div class="col-8">
                <div class="row border" style="height: 36px;">
                    <div class="w-100 text-center">
                        {{ fp.provider.name_fr }}
                    </div>
                </div>
                <div class="row border"" style="height: 36px;">
                    <div class="w-100 text-center">
                        {{ fp.provider.name_ru }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 h-100  border border-dark rounded-3">
        <div class="row">
            <div class="col-4">
                <div class="row border" style="height: 36px; font-size: 15px;">
                    Origine:
                </div>
                <div class="row border" style="height: 36px; font-size: 11px;">
                    Происхождение:
                </div>
            </div>
            <div class="col-8">
                <div class="row border" style="height: 36px;">
                    <div class="w-100 text-center">
                        {{ fp.origin.name_fr }}
                    </div>
                </div>
                <div class="row border" style="height: 36px;">
                    <div class="w-100 text-center">
                        {{ fp.origin.name_ru }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 h-100  border border-dark rounded-3">
        <div class="row">
            <div class="col-4">
                <div class="row border" style="height: 36px; font-size: 12px;">
                    Lieu de fabrication:
                </div>
                <div class="row border" style="height: 36px; font-size: 12px;">
                    Место производства:
                </div>
            </div>
            <div class="col-8">
                <div class="row border" style="height: 36px;">
                    <div class="w-100 text-center">
                        {{ fp.manufactured_in.name_fr }}
                    </div>
                </div>
                <div class="row border" style="height: 36px;">
                    <div class="w-100 text-center">
                        {{ fp.manufactured_in.name_ru }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Localisation  -->
<div class="row border border-dark rounded-3" style="height: 53px;">
    <div class="row p-0 m-0">
        <div class="col-3 border">
            Localisation:
        </div>
        <div class="col-9 border">
            <div class="w-100 text-center">
                {{ fp.location_fr }}
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-3 border">
            Размещение:
        </div>
        <div class="col-9 border">
            <div class="w-100 text-center">
                {{ fp.location_ru }}
            </div>
        </div>
    </div>
</div>

<!-- Description  -->
<div class="row border border-dark rounded-3" style="height: 230px;">
    <div class="row p-0 m-0 text-center" style="height: 23px; font-size: 14px;">
        <div class="col-6 border">
            DESCRIPTION DU PRODUIT:
        </div>
        <div class="col-6 border">
            ОПИСАНИЕ ИЗДЕЛИЯ:
        </div>
    </div>
    <div class="row p-0 m-0" style="font-size: 12px;">
        <div class="col-6 border">
            {{ fp.product.desc_fr }}
        </div>
        <div class="col-6 border">
            {{ fp.product.desc_ru }} 
        </div>
    </div>
</div>

<!-- Image  -->
<div class="row border border-dark" style="height: 200px;">
    <div class="col-3 rounded-3">
        <!-- <div class="row"> -->
            <div class="row border text-center" style="font-size: 14px;">
                Descriptif technique:
                Техническое описание:
            </div>

            <div class="row border">
                <div class="w-100 text-center">
                    Non/Нет
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="row"> -->
            <div class="row border">
                <br><br><br>
            </div>

            <div class="row border">
                <div class="w-100 text-center">
                    Oui/Да
                </div>
            </div>
        <!-- </div> -->
    </div>
    <div class="col-9 border-start border-end-0 border-dark h-100  text-center rounded-3">
       <img src="{{ fp.product.image.url }}" alt="{{ fp.product.name_fr }}" style="height: 190px;">
    </div>
</div>

<!-- Protocol and Observation  -->
<div class="row border-start-0 border-dark" style="height: 150px;font-size: 14px;">
    <div class="border border-dark p-0 m-0 rounded-3">

        <div class="row p-0 border  border-end m-0" style="height: 36px;">
            <div class="col-3  p-0 m-0">
                Procès verbaux:
            </div>
            <div class="col-9  p-0 m-0 text-center">
                {{ fp.protocol_fr }}
            </div>
        </div>
        <div class="row p-0 m-0" style="height: 36px;">
            <div class="col-3  p-0 m-0 te">
                Протоколы:
            </div>
            <div class="col-9  p-0 m-0 text-center">
                {{ fp.protocol_ru }}
            </div>
        </div>
    </div>
    <div class="border border-dark p-0 m-0 rounded-3">

        <div class="row p-0 border border-end m-0" style="height: 37px;">
            <div class="col-3  p-0 m-0" style="font-size: 12px;">
                Observations et avis de l'organisme de contrôle:
            </div>
            <div class="col-9  p-0 m-0 text-center">
                {{ fp.observation_fr }}
            </div>
        </div>
        <div class="row p-0 m-0" style="height: 37px;">
            <div class="col-3  p-0 m-0" style="font-size: 12px;">
                Замечания И Заключение Тех. Надзора:
            </div>
            <div class="col-9  p-0 m-0 text-center">
                {{ fp.observation_ru }}
            </div>
        </div>
    </div>
</div>

<!-- Signature  Client/Contractor -->
<div class="row  border-dark border-top border-start border-end text-center rounded-top" style="font-size: 11px; height: 30px;">
    <div class="col-1">
    </div>
    <div class="col-5 ">
        ENTREPRENEUR<br>
        ПОДРЯДЧИК
    </div>
    <div class="col-3 border-dark  border-start">
        ORGANISME DE CONTRÔLE<br>
        ТЕХ.НАДЗОР
    </div>
    <div class="col-3 border-dark border-start">
        MAÎTRE D'OUVRAGE<br>
        ПРЕДСТАВИТЕЛИ ЗАКАЗЧИКА
    </div>
</div>

<!-- Signature  Title -->
<div class="row    border-end border-start border-dark text-center" style="font-size: 12px;">
    <div class="col-1">

    </div>
    <div class="col-2 ">
        Emetteur <br>
        Составитель
    </div>
    <div class="col-3">
        Directeur Projet <br>
        Директор Проекта
    </div>
    <div class="col-3 border-dark border-start">
        Client <br>
        Заказчик
    </div>
    <div class="col-3 border-dark border-start">
        Client <br>
        Заказчик
    </div>
</div>

<!-- Signature  Date -->
<div class="row border-top border-dark border-start border-end" style="font-size: 14px;">
    <div class="col-1" style="font-size: 11px;">
        Le/Дата:
    </div>
    <div class="col-2  border-dark border-start text-center">
        ___ / ___ / 202 __
    </div>
    <div class="col-3  border-start text-center"">
        ___ / ___ / 202 __
    </div>
    <div class="col-3  border-dark border-start text-center"">
        ___ / ___ / 202 __
    </div>
    <div class="col-3  border-dark border-start text-center"">
        ___ / ___ / 202 __
    </div>
</div>

<!-- Signature  Name -->
<div class="row border-start border-dark border-end" style="font-size: 14px;">
    <div class="col-1">
        Nom: <br>
        Имя:
    </div>
    <div class="col-2 border-start border-dark p-0">
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_contractor1.name_fr }}
        </div>
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_contractor1.name_ru }}
        </div>
    </div>
    <div class="col-3 border-start p-0">
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_contractor2.name_fr }}
        </div>
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_contractor2.name_ru }}
        </div>
    </div>
    <div class="col-3 border-start border-dark p-0">
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_tehnadzor.name_fr }}
        </div>
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_tehnadzor.name_ru }}
        </div>
    </div>
    <div class="col-3 border-start border-dark p-0">
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_client.name_fr }}
        </div>
        <div class="w-100 text-center" style="height: 22px;  white-space: nowrap;">
            {{ fp.sign_client.name_ru }}
        </div>
    </div>
</div>

<!-- Signature  Sign -->
<div class="row border-start border-dark border-end rounded-bottom" style="height: 45px;">
    <div class="col-1 h-100 px-1" style="font-size: 13px;">
        Visas: 
        Подписи:
    </div>
    <div class="col-2 border-start border-dark  h-100">

    </div>
    <div class="col-3 border-start h-100">
    </div>
    <div class="col-3 border-start border-dark  h-100">
    </div>
    <div class="col-3 border-start border-dark   h-100">
    </div>
</div>

<!-- Footer Title-->
<div class="row border-top border-start border-end border-dark rounded-top" style="font-size: 11px; height: 32px;">
    <div class="col-4 border-start-0 border-top border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Affaire<br>
            Проект
        </div>

    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Phase <br>
            Зтап
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Lot <br>
            Pаздел
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Type <br>
            Тип
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Zone <br>
            Зона
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Niveau <br>
            Зтаж
        </div>
    </div>
    <div class="col-2 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Numéro <br>
            Номеp
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            Indice <br>
            Индекс
        </div>
    </div>
</div>

<!-- Footer Data-->
<div class="row border-start border-end border-bottom border-dark rounded-bottom" style="font-size: 14px; height: 34px;">
    <div class="col-4 border-top border-start-0 border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.project.code }}
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.phase }}
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.lot.number }}
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.fp_type.name }}
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.zone }}
        </div>
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.level }}
        </div>
    </div>
    <div class="col-2 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.number }}
        </div>        
    </div>
    <div class="col-1 border-top border-start border-dark h-100 d-flex align-items-center">
        <div class="w-100 text-center">
            {{ fp.index }}
        </div>
    </div>
</div>


    
</div> 
<!-- container ends here -->
