{% load static %}



<form method="POST">
    {% csrf_token %}

<div class="container border border-dark " style="width:210mm; height: 297mm;">
    
<!-- Logo and Name -->
<div class="row border border-dark" style="height: 100px;">
    <div class="col-3 mh-100 p-0 text-center">
        <img src="{% static 'img/bytk_logo.png' %}" alt="Bouygues Turkmen" style="height: 90px; width:195px;">
    </div>
    <div class="col-9 border border-dark">
        <div class="row p-0">
            <div class="border-top font-weight-bold text-center h5 p-0" style="height: 15px;">
                FICHE PRODUIT - КАРТОЧКА ИЗДЕЛИЯ
            </div>
        </div>
        <div class="row border-top border-dark p-0" style="height: 35px;">
            <div class="col-3 border p-0 h-100 d-flex align-items-center">
                Nom du produit: 
            </div>
            <div class="col-9 text-center p-0">
                {{ fp_form.product }}
            </div>
        </div>
        <div class="row border-top border-info p-0" style="height: 35px;">
            <div class="col-3 border p-0 h-100 d-flex align-items-center" style=" font-size: 14px;">
                Наименование изделия:
            </div>
            <div class="col-9 text-center p-0">
                <!-- Тренажер для сгибания ног в коленях -->
            </div>
        </div>
    </div>
</div>

<!-- Lot and Project-Chantier  -->
<div class="row border border-dark"  style="height: 57px;">
    <div class="col-3 border border-dark">
        <div class="row">

            <div class="col-8 border">
                <div class="row border">
                    Lot N°:
                </div>
                <div class="row border">
                    Pаздел N°:
                </div>
            </div>
            <div class="col-4 text-center h4 px-1" >
                {{ fp_form.lot }}
            </div>
        </div>
    </div>
    <div class=" col-9 border border-dark">
        <div class="row">

            <div class="col-2 border">
                <div class="row border">
                    Chantier:
                </div>
                <div class="row border">
                    Стройка:
                </div>
            </div>
            <div class="col-10 border">
                <div class="row border">
                    {{ fp_form.project }}
                </div>
                <div class="row border">
                    <!-- {{ fp_form.project }} -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Provider and Country -->
<div class="row border border-dark p-0"  style="height: 45px;">
    <div class="col-4 h-100 border border-dark">
        <div class="row">
            <div class="col-4">
                <div class="row border" style="height: 36px; font-size: 15px;">
                    Fournisseur:
                </div>
                <!-- <div class="row border" style="height: 36px; font-size: 15px;"> -->
                    <!-- Поставщик: -->
                <!-- </div> -->
            </div>
            <div class="col-8">
                <div class="row border" style="height: 36px;">
                    {{ fp_form.provider }}
                </div>
                <!-- <div class="row border" style="height: 36px;">
                    ДЖИМ 80
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-4 h-100  border border-dark">
        <div class="row">
            <div class="col-4">
                <div class="row border" style="height: 36px; font-size: 15px;">
                    Origine:
                </div>
                <!-- <div class="row border" style="height: 36px; font-size: 11px;">
                    Происхождение:
                </div> -->
            </div>
            <div class="col-8">
                <div class="row border" style="height: 36px;">
                    {{ fp_form.origin }}
                </div>
                <!-- <div class="row border" style="height: 36px;">
                    Европа
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-4 h-100  border border-dark">
        <div class="row">
            <div class="col-4">
                <div class="row border" style="height: 36px; font-size: 12px;">
                    Lieu de fabrication:
                </div>
                <!-- <div class="row border" style="height: 36px; font-size: 12px;">
                    Место производства:
                </div> -->
            </div>
            <div class="col-8">
                <div class="row border" style="height: 36px;">
                    {{ fp_form.manufactured_in }}
                </div>
                <!-- <div class="row border" style="height: 36px;">
                    Германия
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Localisation  -->
<div class="row border border-dark" style="height: 85px;">
    <div class="row p-0 m-0">
        <div class="col-3 border">
            Localisation:
        </div>
        <div class="col-9 border">
            {{ fp_form.location_fr }}
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-3 border">
            Размещение:
        </div>
        <div class="col-9 border">
            {{ fp_form.location_ru }}
        </div>
    </div>
</div>

<!-- Description  -->
<div class="row border border-dark" style="height: 130px;">
    <div class="row p-0 m-0">
        <div class="col-6 border">
            DESCRIPTION DU PRODUIT:
        </div>
        <div class="col-6 border">
            ОПИСАНИЕ ИЗДЕЛИЯ:
        </div>
    </div>
    <div class="row p-0 m-0" style="font-size: 12px;">
        <div class="col-6 border">
            <!-- Moniteur de Métabolisme Q-NRG
            <br><br>
            Système de surveillance diagnostique pour la mesure des échanges métaboliques Q-NRG. Chariot d'équipement complet + imprimante, consommables.<br>
            DIMENSIONS: <br>
            Hauteur: 1400 mm <br>
            Longueur: 800 mm <br>
            Largeur: 400 mm <br>
            <br>
            Qty: 1 -->
        </div>
        <div class="col-6 border">
            <!-- МОНИТОР МЕТАБОЛИЗМА Q-NRG
            <br><br>
            Диагностическая система мониторинга  для измерения метаболического обмена Q-NRG   +  принтер, расходные материалы, набор тележек <br>
            Размеры: <br>
            Высота: 1400 мм <br>
            Длина: 800 мм <br>
            Ширина: 400 мм <br>
            <br>
            Кол-во: 1 <br> -->
        </div>
    </div>
</div>

<!-- Image  -->
<div class="row border border-dark" style="height: 200px;">
    <div class="col-3">
        <!-- <div class="row"> -->
            <div class="row border">
                Descriptif technique: <br> 
                Техническое описание:
            </div>

            <div class="row border">
                Non/Нет
            </div>
        <!-- </div> -->
        <!-- <div class="row"> -->
            <div class="row border">
                <br><br><br>
            </div>

            <div class="row border">
                Oui/Да
            </div>
        <!-- </div> -->
    </div>
    <div class="col-9 border border-dark h-100">
       
    </div>
</div>

<!-- Protocol and Observation  -->
<div class="row border border-dark " style="height: 260px;font-size: 14px;">
    <div class="border border-dark p-0 m-0">

        <div class="row p-0 border border-end m-0" style="height: 65px;">
            <div class="col-3  p-0 m-0">
                Procès verbaux:
            </div>
            <div class="col-9  p-0 m-0">
                {{ fp_form.protocol_fr }}
            </div>
        </div>
        <div class="row p-0 m-0" style="height: 30px;">
            <div class="col-3  p-0 m-0">
                Протоколы:
            </div>
            <div class="col-9  p-0 m-0">
                {{ fp_form.protocol_ru }}
            </div>
        </div>
    </div>
    <div class="border border-dark p-0 m-0">

        <div class="row p-0 border border-end m-0" style="height: 65px;">
            <div class="col-3  p-0 m-0" style="font-size: 12px;">
                Observations et avis de l'organisme de contrôle:
            </div>
            <div class="col-9  p-0 m-0">
                {{ fp_form.observation_fr }}
            </div>
        </div>
        <div class="row p-0 m-0" style="height: 30px;">
            <div class="col-3  p-0 m-0" style="font-size: 12px;">
                Замечания И Заключение Тех. Надзора:
            </div>
            <div class="col-9  p-0 m-0">
                {{ fp_form.observation_ru }}
            </div>
        </div>
    </div>
</div>

<!-- Signature  Client/Contractor -->
<div class="row  border-dark border-top text-center" style="font-size: 12px;">
    <div class="col-1">
    </div>
    <div class="col-5 ">
        ENTREPRENEUR<br>
        ПОДРЯДЧИК
    </div>
    <div class="col-3 border-dark  border-start">
        ORGANISME DE CONTRÔLE<br>
        ТЕХ.НАДЗОР
    </div>
    <div class="col-3 border-dark border-start">
        MAÎTRE D'OUVRAGE<br>
        ПРЕДСТАВИТЕЛИ ЗАКАЗЧИКА
    </div>
</div>

<!-- Signature  Title -->
<div class="row    border-end border-start text-center" style="font-size: 12px;">
    <div class="col-1">

    </div>
    <div class="col-2 ">
        Emetteur <br>
        Составитель
    </div>
    <div class="col-3">
        Directeur Projet <br>
        Директор Проекта
    </div>
    <div class="col-3 border-dark border-start">
        Client <br>
        Заказчик
    </div>
    <div class="col-3 border-dark border-start">
        Client <br>
        Заказчик
    </div>
</div>

<!-- Signature  Date -->
<div class="row border-top border-dark" style="font-size: 14px;">
    <div class="col-1" style="font-size: 11px;">
        Le/Дата:
    </div>
    <div class="col-2  border-dark border-start text-center">
        __ /__ / 202 __
    </div>
    <div class="col-3  border-start text-center">
        __ /__ / 202 __
    </div>
    <div class="col-3  border-dark border-start text-center">
        __ /__ / 202 __
    </div>
    <div class="col-3  border-dark border-start text-center">
        __ /__ / 202 __
    </div>
</div>

<!-- Signature  Name -->
<div class="row border" style="font-size: 14px;">
    <div class="col-1">
        Nom: <br>
        Имя:
    </div>
    <div class="col-2 border-start border-dark">
        {{ fp_form.sign_contractor1 }} <br>
        <!-- H.LOUMASSINE -->
    </div>
    <div class="col-3 border">
        {{ fp_form.sign_contractor2 }} <br>
        <!-- S.LEVENARD -->
    </div>
    <div class="col-3 border-start border-dark">
        {{ fp_form.sign_tehnadzor }} <br>
        <!-- CLIENT NAME -->
    </div>
    <div class="col-3 border-start border-dark">
        {{ fp_form.sign_client }} <br>
        <!-- CLIENT NAME -->
    </div>
</div>

<!-- Signature  Sign -->
<!-- <div class="row  border-dark" style="height: 50px;">
    <div class="col-1 h-100 px-1" style="font-size: 13px;">
        Visas: 
        Подписи:
    </div>
    <div class="col-2 border-start border-dark h-100">

    </div>
    <div class="col-3 border-start h-100">
    </div>
    <div class="col-3 border-start border-dark h-100">
    </div>
    <div class="col-3 border-start border-dark h-100">
    </div>
</div> -->

<!-- Footer Title-->
<div class="row  border-dark" style="font-size: 11px; height: 32px;">
    <div class="col-4 border border-dark h-100 text-center">

                Affaire <br>
                Проект

    </div>
    <div class="col-1 border border-dark h-100 text-center">
                Phase <br>
                Зтап
    </div>
    <div class="col-1 border border-dark h-100 text-center">
                Lot <br>
                Pаздел
    </div>
    <div class="col-1 border border-dark h-100 text-center">
                Type <br>
                Тип
    </div>
    <div class="col-1 border border-dark h-100 text-center">
                Zone <br>
                Зона
    </div>
    <div class="col-1 border border-dark h-100 text-center">
                Niveau <br>
                Зтаж
    </div>
    <div class="col-2 border border-dark h-100 text-center">
                Numéro <br>
                Номеp
    </div>
    <div class="col-1 border border-dark h-100 text-center">
                Indice <br>
                Индекс
    </div>
</div>

<!-- Footer Data-->
<div class="row border border" style="font-size: 14px; height: 45px;">
    <div class="col-4 border border-dark h-100 text-center">
                <!-- {{ fp_form.project }} -->
    </div>
    <div class="col-1 border border-dark h-100 text-center px-1">
                {{ fp_form.phase}}
    </div>
    <div class="col-1 border border-dark h-100 text-center px-1">
                {{ fp_form.lot }}
    </div>
    <div class="col-1 border border-dark h-100 text-center px-1">
                {{ fp_form.fp_type }}
    </div>
    <div class="col-1 border border-dark h-100 text-center px-1">
                {{ fp_form.zone }}
    </div>
    <div class="col-1 border border-dark h-100 text-center px-1">
                {{ fp_form.level }}
    </div>
    <div class="col-2 border border-dark h-100 text-center">
                {{ fp_form.number }}
    </div>
    <div class="col-1 border border-dark h-100 text-center">
                {{ fp_form.index }}
    </div>
</div>

</div> <!-- container ends here -->

<!-- Extra fields of form -->
<div class="container border border-dark mt-5 " style="width:210mm; height: 40mm;">
    <div class="row justify-content-center mt-3">  
        <div class="form-group col-md-4">
          <label for="{{fp_form.department.id_for_label}}">Department</label>
          {{ fp_form.department }}
        </div>
        <div class="form-group col-md-4">
            <label for="{{fp_form.trade.id_for_label}}">Trade</label>
            {{ fp_form.trade }}
        </div>
        <div class="form-group col-md-4">
            <label for="{{fp_form.quantity.id_for_label}}">Quantity</label>
            {{ fp_form.quantity }}
        </div>
    </div>
</div>


<!-- Submit Button -->
<div class="w-90 text-end p-3">

    <button type="submit" class="btn btn-primary btn-lg" style="height:70px; width:300px;">{{ fp_submit_button_name }}</button>
</div>
</form>