{% extends 'base_print.html' %}

{% block head_extra %}
<style>
    .row {
  display: flex;
  align-items: center;
}
</style>
{% endblock %}
{% block content %}

<div class="container border border-dark" style="width:210mm; height: 297mm;">
    
<!-- Logo and Name -->
<div class="row border border-dark">
<div class="col-3 border border-dark">
    LOGO
</div>
<div class="col-9 border-dark">
    <div class="row border border-dark">
        FICHE PRODUIT - КАРТОЧКА ИЗДЕЛИЯ
    </div>
    <div class="row border ">
        <div class="col-3 border">
            Nom du produit: 
        </div>
        <div class="col-9 border">
            МОНИТОР МЕТАБОЛИЗМА Q-NRG
        </div>
    </div>
    <div class="row border">
        <div class="col-3 border">
            Наименование изделия:
        </div>
        <div class="col-9 border">
            Тренажер для сгибания ног в коленях
        </div>
    </div>
</div>
</div>

<!-- Lot and Chantier  -->
<div class="row border border-dark">
    <div class="col-3 border border-dark">
        <div class="row">

            <div class="col-8 border">
                <div class="row border">
                    Lot N°:
                </div>
                <div class="row border">
                    Pаздел N°:
                </div>
            </div>
            <div class="col-4 border">
                70
            </div>
        </div>
    </div>
    <div class=" col-9 border border-dark">
        <div class="row">

            <div class="col-2 border">
                <div class="row border">
                    Chantier:
                </div>
                <div class="row border">
                    Стройка:
                </div>
            </div>
            <div class="col-10 border">
                <div class="row border">
                    Complexe des bâtiments du Centre des conférences internationales
                </div>
                <div class="row border">
                    Комплекс зданий Центра международных конференций
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Provider and Country -->
<div class="row border border-dark">
    <div class="col-4 border border-dark">
        <div class="row">
            <div class="col-3">
                <div class="row border">
                    Fournisseur:
                </div>
                <div class="row border">
                    Поставщик:
                </div>
            </div>
            <div class="col-7">
                <div class="row border">
                    GYM 80
                </div>
                <div class="row border">
                    ДЖИМ 80
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 border border-dark">
        <div class="row">
            <div class="col-5">
                <div class="row border">
                    Origine:
                </div>
                <div class="row border">
                    Происхождение:
                </div>
            </div>
            <div class="col-7">
                <div class="row border">
                    Europe
                </div>
                <div class="row border">
                    Европа
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 border border-dark">
        <div class="row">
            <div class="col-7">
                <div class="row border">
                    Lieu de fabrication:
                </div>
                <div class="row border">
                    Место производства:
                </div>
            </div>
            <div class="col-5">
                <div class="row border">
                    Allemagne
                </div>
                <div class="row border">
                    Германия
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Localisation  -->
<div class="row border border-dark">
    <div class="row">
        <div class="col-3 border">
            Localisation:
        </div>
        <div class="col-9 border">
            00.A4.SPA.307     Salle de fitness
        </div>
    </div>
    <div class="row">
        <div class="col-3 border">
            Размещение:
        </div>
        <div class="col-9 border">
            00.A4.SPA.307     Фитнес-зал
        </div>
    </div>
</div>

<!-- Description  -->
<div class="row border border-dark">
    <div class="row">
        <div class="col-6 border">
            DESCRIPTION DU PRODUIT:
        </div>
        <div class="col-6 border">
            ОПИСАНИЕ ИЗДЕЛИЯ:
        </div>
    </div>
    <div class="row" style="font-size: 12px;">
        <div class="col-6 border">
            Moniteur de Métabolisme Q-NRG
            <br><br>
            Système de surveillance diagnostique pour la mesure des échanges métaboliques Q-NRG. Chariot d'équipement complet + imprimante, consommables.<br>
            DIMENSIONS: <br>
            Hauteur: 1400 mm <br>
            Longueur: 800 mm <br>
            Largeur: 400 mm <br>
            <br>
            Qty: 1
        </div>
        <div class="col-6 border">
            МОНИТОР МЕТАБОЛИЗМА Q-NRG
            <br><br>
            Диагностическая система мониторинга  для измерения метаболического обмена Q-NRG   +  принтер, расходные материалы, набор тележек <br>
            Размеры: <br>
            Высота: 1400 мм <br>
            Длина: 800 мм <br>
            Ширина: 400 мм <br>
            <br>
            Кол-во: 1 <br>
        </div>
    </div>
</div>

<!-- Image  -->
<div class="row border border-dark">
    <div class="col-3">
        <div class="row">
            <div class="row border">
                Descriptif technique: <br> <br>
                Техническое описание:
            </div>

            <div class="row border">
                Non/нет
            </div>
        </div>
        <div class="row">
            <div class="row border">
                Desciptif technique:
                Desciptif technique in russian:
            </div>

            <div class="row border">
                Oui/Da
            </div>
        </div>
    </div>
    <div class="col-9">
        Image of Product
    </div>
</div>

<!-- Protocol and Observation  -->
<div class="row border border-dark" style="font-size: 14px;">
    <div class="border border-dark">

        <div class="row">
            <div class="col-3 border">
                Procès verbaux:
            </div>
            <div class="col-9 border">
                Some Protocol Here
            </div>
        </div>
        <div class="row">
            <div class="col-3 border">
                Протоколы:
            </div>
            <div class="col-9 border">
                Some Protocol Here
            </div>
        </div>
    </div>
    <div class="border border-dark">

        <div class="row">
            <div class="col-3 border">
                Observations et avis de l'organisme de contrôle:
            </div>
            <div class="col-9 border">
                Some Observation Here
            </div>
        </div>
        <div class="row">
            <div class="col-3 border">
                Замечания И Заключение Тех. Надзора:
            </div>
            <div class="col-9 border">
                Some Observation Here
            </div>
        </div>
    </div>
    
</div>

<!-- Signature  Client/Contractor -->
<div class="row border border-dark" style="font-size: 12px;">
    <div class="col-1">
    </div>
    <div class="col-5 border border-dark">
        ПОДРЯДЧИК <br>
        ENTREPRENEUR
    </div>
    <div class="col-3 border border-dark">
        ТЕХ.НАДЗОР <br>
        ORGANISME DE CONTRÔLE
    </div>
    <div class="col-3 border border-dark">
        ПРЕДСТАВИТЕЛИ ЗАКАЗЧИКА <br>
        MAÎTRE D'OUVRAGE
    </div>
</div>

<!-- Signature  Title -->
<div class="row border border-dark" style="font-size: 14px;">
    <div class="col-1">

    </div>
    <div class="col-2 border border-dark">
        Emetteur <br>
        Составитель
    </div>
    <div class="col-3 border border-dark">
        Directeur Projet <br>
        Директор Проекта
    </div>
    <div class="col-3 border border-dark">
        Client <br>
        Заказчик
    </div>
    <div class="col-3 border border-dark">
        Client <br>
        Заказчик
    </div>
</div>

<!-- Signature  Date -->
<div class="row border border-dark" style="font-size: 14px;">
    <div class="col-1" style="font-size: 11px;">
        LE/дата:
    </div>
    <div class="col-2 border border-dark">
        28/09/2020
    </div>
    <div class="col-3 border border-dark">
        28/09/2020
    </div>
    <div class="col-3 border border-dark">
        28/09/2020
    </div>
    <div class="col-3 border border-dark">
        28/09/2020
    </div>
</div>

<!-- Signature  Name -->
<div class="row border border-dark" style="font-size: 14px;">
    <div class="col-1">
        NOM: <br>
        имя:
    </div>
    <div class="col-2 border border-dark">
        H.LOUMASSINE <br>
        H.LOUMASSINE
    </div>
    <div class="col-3 border border-dark">
        S.LEVENARD <br>
        S.LEVENARD
    </div>
    <div class="col-3 border border-dark">
        CLIENT NAME <br>
        CLIENT NAME
    </div>
    <div class="col-3 border border-dark">
        CLIENT NAME <br>
        CLIENT NAME
    </div>
</div>

<!-- Signature  Sign -->
<div class="row border border-dark">
    <div class="col-1">
        VISAS:  <br>
        подписи:
    </div>
    <div class="col-2 border border-dark">

    </div>
    <div class="col-3 border border-dark"">
    </div>
    <div class="col-3 border border-dark">
    </div>
    <div class="col-3 border border-dark">
    </div>
</div>

<!-- Footer Title-->
<div class="row border border-dark" style="font-size: 14px;">
    <div class="col-4 border border-dark">
            <div class="row">
                Affaire
            </div>
            <div class="row">
                проект
            </div>
    </div>
    <div class="col-1 border border-dark">
            <div class="row">
                Phase
            </div>
            <div class="row">
                зтап
            </div>
    </div>
    <div class="col-1 border border-dark">
            <div class="row">
                Lot
            </div>
            <div class="row">
                Pаздел
            </div>
    </div>
    <div class="col-1 border border-dark">
            <div class="row">
                Type
            </div>
            <div class="row">
                тип
            </div>
    </div>
    <div class="col-1 border border-dark">
            <div class="row">
                Zone
            </div>
            <div class="row">
                зона
            </div>
    </div>
    <div class="col-1 border border-dark">
            <div class="row">
                Niveau
            </div>
            <div class="row">
                зтаж
            </div>
    </div>
    <div class="col-2 border border-dark">
            <div class="row">
                Numéro
            </div>
            <div class="row">
                номеp
            </div>
    </div>
    <div class="col-1 border border-dark">
            <div class="row">
                Indice
            </div>
            <div class="row">
                Индекс
            </div>
    </div>
</div>

<!-- Footer Data-->
<div class="row border border-dark" style="font-size: 14px;">
    <div class="col-4">
        <div>
            <div class="row border border-dark">
                CRA
            </div>
        </div>
    </div>
    <div class="col-1">
        <div>
            <div class="row border border-dark">
                PEO
            </div>
        </div>
    </div>
    <div class="col-1">
        <div>
            <div class="row border border-dark">
                70
            </div>
        </div>
    </div>
    <div class="col-1">
        <div>
            <div class="row border border-dark">
                FP
            </div>
        </div>
    </div>
    <div class="col-1">
        <div>
            <div class="row border border-dark">
                ++
            </div>
        </div>
    </div>
    <div class="col-1">
        <div>
            <div class="row border border-dark">
                ++
            </div>
        </div>
    </div>
    <div class="col-2">
        <div>
            <div class="row border border-dark">
                00060
            </div>
        </div>
    </div>
    <div class="col-1">
        <div>
            <div class="row border border-dark">
                0
            </div>
        </div>
    </div>
</div>


    
</div> 
<!-- container ends here -->
{% endblock %}