<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/list.css">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    
    <title>Document</title>
    
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-primary bg-light">
            <div class="container-fluid">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <a class="navbar-brand" href="/">FICHE PRODUIT</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    
                    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/site/">Site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/achat/">Service Achat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logistics/">Logistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/qs/">QS</a>
                        </li>
                    </ul>


                    <form onsubmit="event.preventDefault();" role="search">
                      <label for="search">Search for stuff</label>
                      <input id="search" type="search" placeholder="Search..." autofocus required />
                      <button type="submit">Go</button>    
                    </form>


                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                    
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        

  <table class="table">
      <thead>
        <tr class="kerim">
          <th scope="col">FP Number</th>
          <th scope="col">Product Name</th>
          <th scope="col">Order</th>
          <th scope="col">Facture</th>
          <th scope="col">Specification</th>
          <th scope="col">TDS</th>
          <th scope="col">Declaration</th>
          <th scope="col">COO</th>
        </tr>
      </thead>
    <tbody>

      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FP00001</td>
        <td class="py-4">Simulateur à câble</td>
        <td class="py-4">['HG0000001', 'HG0000002']</td>
        <td class="py-4">['NCC-TK-00001']</td>
        <td class="py-4">['SPEC001']</td>
        <td class="py-4">['TDS795.135.1245']</td>
        <td class="py-4">['00712/050621/32456']</td>
        <td class="py-4">['COO1']</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FP00002</td>
        <td class="py-4">MACHINE D'EXERCICE POUR L'ENTRAINEMENT DES MUSCLES DU MOLLET</td>
        <td class="py-4">['HG0000001']</td>
        <td class="py-4">['NCC-TK-00002']</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FP00003</td>
        <td class="py-4">SIMULATEUR DE LEVAGE DE LA PAZ</td>
        <td class="py-4">['HG0000002']</td>
        <td class="py-4">['NCC-TK-00003']</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FP00004</td>
        <td class="py-4">RAMEUR DOUBLE AVEC PLATEAU de 50 mm</td>
        <td class="py-4">['HG0000002']</td>
        <td class="py-4">['NCC-TK-00001']</td>
        <td class="py-4">['SPEC001']</td>
        <td class="py-4">['TDS795.135.1245']</td>
        <td class="py-4">['00712/050621/32456']</td>
        <td class="py-4">['COO1']</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FP00005</td>
        <td class="py-4">RACK POUR LES GRIFFE EXCLUSIVES RAUSCHENBACH</td>
        <td class="py-4">['HG0000002']</td>
        <td class="py-4">['NCC-TK-00003']</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">1</td>
        <td class="py-4">MACHINE D'EXERCICE POUR L'ENTRAINEMENT DES MUSCLES DU MOLLET</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FPCRI0001</td>
        <td class="py-4">MACHINE D'EXERCICE POUR L'ENTRAINEMENT DES MUSCLES DU MOLLET</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
      </tr>
      
      
      
      <tr class="px-4 ">
        <td scope="row" class="py-4 ">FPGuwanc1</td>
        <td class="py-4">Simulateur à câble</td>
        <td class="py-4">['HG0000001']</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
        <td class="py-4">[]</td>
      </tr>
      
      
      
    </tbody>
  </table>

  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>



    </div>
    
    


    
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body></html>