{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

<style>
  body {
    background-color: #dee9ff;
  }
  textarea {
    min-height: 200px;
  }
  table th{
      min-width: 150px;
      max-width: 400px;
  }
</style>
{% endblock %}

  
{% block content %}

<!-- PRODUCT Form -->
<div class="container-fluid">
  <h4>{{ orderitemform.errors }}</h4>
<h4>You are adding and editing items of Order: {{ order.number }}</h4>
<a href="?additem=true" class="btn btn-primary">Add New Item</a>
<a href="/orders/{{ order.id }}/" class="btn btn-primary">Print</a>
<h5>Existing items of this Order:</h5>
<table class="mt-5">
    <thead>
        <th>NO</th>
        <th>Item Description</th>
        <th>Fiche Produit Reference</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Edit</th>
    </thead>
    {% for item in existing_items %}
        <tbody>
            <td style="max-width: 30px;">{{ item.no }}</td>
            <td style="min-width: 300px;">{{item.desc_fr}}</td>
            <td>{{item.product_card}}</td>
            <td>{{item.quantity }}</td>
            <td>{{item.unit}}</td>
            <td>{{item.price }}</td>
            <td><a href="?edititem={{item.id}}" class="btn btn-primary">Edit</a></td>
        </tbody>
        {% endfor %}
    </table>    
    
    <br> <br>
{% if show_form %}
<form id='orderitem' method="POST" class="mt-5">
        {% csrf_token %}
        <div class="row">

            <div class="form-group col-md-1">
                <label for="orderitemno">Order Item No</label>
                {{ orderitemform.no }}
                <!-- <input type="text" class="form-control" id="inputEmail4" placeholder="Name (EN)"> -->
            </div>
            <div class="form-group col-md-3">
                <label for="whichficheproduit">Which Fiche Produit</label>
                {{ orderitemform.product_card }}
                <!-- <input type="text" class="form-control" id="inputPassword4" placeholder="Name (FR)"> -->
            </div>
            <div class="form-group  col-md-3">
                <label for="descriptionfr">Description (If different from Fiche Produit)</label>
                {{ orderitemform.desc_fr }}
                <!-- <input type="text" class="form-control" id="inputAddress" placeholder="RU"> -->
            </div>
            <div class="form-group  col-md-1">
                <label for="quantity">Quantity</label>
                {{ orderitemform.quantity }}
                <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Name (TM)"> -->
            </div>
            <div class="form-group  col-md-1">
                <label for="unit">Unit</label>
                {{ orderitemform.unit }}
                <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Name (TM)"> -->
            </div>
            <div class="form-group  col-md-1">
                <label for="price">Unit Price</label>
                {{ orderitemform.price }}
                <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Name (TM)"> -->
            </div>
            <div class="form-group  col-md-1">
                <label for="currency">Currency</label>
                {{ orderitemform.currency }}
                <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Name (TM)"> -->
            </div>
            
            <div class="form-group  col-md-1">
                
                <button type="submit"  id='ordersubmit' class="btn btn-primary" style="max-width: max-content;">{{ buttonname}}</button>
            </div>
            
        </div>
        </form>
    {% endif %}
</div>



{% endblock %}
